venv/
proyecto3_discord/proyecto3_discord/__pycache__/
proyecto3_discord/.env
proyecto3_discord/base/__pycache__/
proyecto3_discord/base/migrations/__pycache__/
proyecto3_discord/base/api/__pycache__/
postgres/
